#iconBox {
  position: fixed;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  width: 100px;

  #mypage {
    width: 65px;
    height: 65px;
    margin-right: 17px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  #game {
    width: 100px;
    height: 100px;
    margin-top: 15px;
  }
  #store {
    width: 70px;
    height: 70px;
    margin-right: 17px;
    margin-top: 15px;
  }
  #folder {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 70px;
    height: 70px;
    margin-right: 17px;
    margin-top: 15px;
  }
  #font1 {
    font-size: 12px;
    margin-right: 19px;
    margin-top: 5px;
  }
  #font2 {
    font-size: 12px;
    margin-right: 33px;
    margin-top: 5px;
  }
  #font3 {
    font-size: 12px;
    margin-right: 40px;
    margin-top: 13px;
    color: white;
  }
  #font4 {
    font-size: 12px;
    margin-right: 35px;
    margin-top: 8px;
    color: white;
  }
  #font5 {
    font-size: 12px;
    margin-right: 34px;
    margin-top: 8px;
    color: white;
  }
}
